html {
  margin: 10em 9em 0em 5em;
}

body {
  margin: 10em 5em 0em 5em;
  background-image: url(/gradients_10.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1065px;
}

p {
  font-size: 13px;
  font-weight: 300;
  margin: -2em 90em 5em 0em;
  color: #a8a8a8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
}

h3 {
  font-size: 55px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}

.email,
.password,
.forgot-pass,
.remember {
  margin: 0px 0px 20px 0px;
}



/* estilo dos input */

.email {
  font-size: 22px;
  margin-left: -8px;
  width: 2cm;
  color: #424242;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  opacity: 30%;
}

.password {
  font-size: 22px;
  margin-left: -8px;
  width: 2cm;
  color: #424242;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  opacity: 30%;
}

input[type="emial"] {
  display: none;
}


label {
  padding: 10px 0px;
  color: rgb(68, 68, 68);
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.forgot-pass {
  text-decoration: none;
  color: brown;
  font-size: 15px;
}