html {
  margin: 10em 9em 0em 5em;
}

body {
  margin: 10em 5em 0em 5em;
  background-image: url(/gradients_10.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1065px;
}

p {
  font-size: 13px;
  font-weight: 300;
  margin: -2em 90em 5em 0em;
  color: #a8a8a8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
}

h3 {
  font-size: 55px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}

.email,
.password,
.forgot-pass,
.remember {
  margin: 0px 0px 20px 0px;
}



/* estilo dos input */

.email {
  font-size: 22px;
  margin-left: -8px;
  width: 2cm;
  color: #424242;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  opacity: 30%;
}

.password {
  font-size: 22px;
  margin-left: -8px;
  width: 2cm;
  color: #424242;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  opacity: 30%;
}

input[type="emial"] {
  display: none;
}


label {
  padding: 10px 0px;
  color: rgb(68, 68, 68);
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.forgot-pass {
  text-decoration: none;
  color: brown;
  font-size: 15px;
}

/* submit */
.BUTTON_BRQ {
  background: #458DE9;
  background-image: -webkit-linear-gradient(top, #458DE9, #0F4191);
  background-image: -moz-linear-gradient(top, #458DE9, #0F4191);
  background-image: -ms-linear-gradient(top, #458DE9, #0F4191);
  background-image: -o-linear-gradient(top, #458DE9, #0F4191);
  background-image: -webkit-gradient(to bottom, #458DE9, #0F4191);
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 10px;
  height: 10PX;
  line-height: 10px;
  color: #FFFFFF;
  font-family: Open Sans;
  width: auto;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: solid #337FED 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_BRQ:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}